.skills-section{
    display: none;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 0 0 3rem;
    width: 100%;
    box-sizing: border-box;

.skills-txt{
    flex-basis: 60%;
    h1{
        font-size: 4.5rem;
        span{
            display: inline-block;
            cursor: default;
        }
    }

    p:first-child{
        padding-right: 2rem;
    }
    p:last-child{
        color: $blue-txt;
        font-size: 1.3rem;
        cursor: pointer;
        &:hover{
            filter: brightness(.5);
        }
    }

}

.sphere{
    width: 100%;
    height: 100%;

    .tagcloud{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        font-size: 20px;
        font-weight: 650;
        margin: auto;
        margin-top: 3rem;
    
        .tagcloud--item{
            &:hover{
                color: $blue-txt;
                cursor: default;
            }
        }
        
    }
}

}





